

.course-card{
    overflow: hidden;
    max-width: min(90%,310px);
    
}

.course-card__body{
    padding:  2em 1.1em 1em 1.1em;
}

.course-card__header{
    height: 210px;
    
}
.course-card-image{
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   

}
.course-card-image img{
    object-fit: cover;  
}

.course-card__profile{
    margin: 0;
}
.profile-photo img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name{
    color: rgb(124, 78, 231);
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
    margin-left: 5px;
}
.tag-wrapper{
    padding:  0 0 0 1.1em;
}
.course-card-tag{
    bottom: -10px;
    border-radius: 3em;
    background-color:var(--tomato-color);
    font-size: .75rem;
    padding: .4em 0 .4em 2em;
    width: 110px;
    
}

.rating{
    margin-top: 12px;
}
.rating svg{
    fill: var(--tomato-color);
}

.rating .number{
    margin-top: 4px;
    margin-left: 4px;
}

.course-card__deatils{
    color: rgb(185, 185, 185);
    border-top: 1px solid rgb(185, 185, 185);
    justify-content: space-between;
    padding-top: 5px;

}

.course-card__deatils svg{
    fill: var(--tomato-color);
}

.course-card__deatils h6{
    margin-top: 0;
    margin-left: 3px;
}
.course-price .discount::before{
    background-color:var(--secondary-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;

}

.course-action-btn{
    background-color: rgb(231, 231, 231);
    box-shadow: none;
    color: rgb(124, 124, 124);
    font-weight: 500;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color .3s;
}

.course-card:hover .course-action-btn{
    color: #fff;
    background-color: var(--tomato-color);
}